/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.

$white: #fff;
$gray-base: #2f3234;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: #ddd;
$gray-lightest: #f7f7f7;
$gray-page: #f8f8f8;

$brand-primary: #a51300;

$body-bg: #ffffff;
$footer-bg: #3c4043;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-header: "Oswald", sans-serif;

$font-size-base: 14px;
$font-size-h2: floor(($font-size-base * 1.6));
$font-size-h3: ceil(($font-size-base * 1.4));

$font-size-small: 12px;
$font-size-large: 24px;

$line-height-computed: 24px;

$menu-font-size: 16px;

$border-radius-base: 5px;
$border-radius-large: 7px;
$border-radius-small: 3px;

$navbar-default-bg: #555;

$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $navbar-default-link-color;
$navbar-default-link-hover-bg: transparent !default;
$navbar-default-link-active-color: $navbar-default-link-color;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color: $navbar-default-link-color;
$navbar-default-link-disabled-bg: transparent !default;

$dropdown-link-color: $gray-light;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: transparent;
$dropdown-link-active-color: $dropdown-link-hover-color;
$dropdown-link-active-bg: $dropdown-link-hover-bg;

$grid-gutter-width: 30px;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$grid-float-breakpoint: $screen-sm-min;

$mobile: "screen and (mix-width: #{$screen-xs-min})";
$mobile-wide: "screen and (max-width: #{$screen-xs-min})";
$tablet: "screen and (min-width: #{$screen-sm-min})";
$normal: "screen and (min-width: #{$screen-md-min})";
$wide: "screen and (min-width: #{$screen-lg-min})";

$grid-breakpoint: "screen and (min-width: #{$grid-float-breakpoint})";
