// @todo these should be their own CSS files and only included when

@import "component/mixins";

// specific component libraries are used.
@import "component/general";


.align-left {
  margin-right: $grid-gutter-width;
  margin-bottom: $line-height-computed / 2;
}

.align-right {
  margin-left: $grid-gutter-width;
  margin-bottom: $line-height-computed / 2;
}

.align-center {
  margin-bottom: $line-height-computed / 2;
}

.awesome-inline-icon {
  display: inline-block;
  margin-right: 5px;
}

.brand-primary {
  color: $brand-primary;
}

.text-small {
  font-size: $font-size-small;
}

.text-large {
  font-size: $font-size-large;
}

