@mixin bg-box {
  background-color: transparent;
  background-image: linear-gradient(to top, #373a3d, #282a2c);
  border: none;
  color: $white;
}

@mixin link-block {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin responsive-video {
  position: relative;
  padding-top: 56.25%;
}

@media #{$mobile} {
}

@media #{$tablet} {
}

@media #{$normal} {
}

@media #{$wide} {
}
